<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.huaweicloud.sis.android.demo">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".tts.RttsActivity">
            android:exported="true"
            android:label="语音合成webSocket版"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        </activity>
        <activity android:name=".asr.RasrCsActivity">
            android:exported="true"
            android:label="实时语音识别连续模式"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        </activity>
        <activity
            android:name=".tts.SttsActivity"
            android:exported="true"
            android:label="语音合成"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".asr.SasrHttpActivity"
            android:exported="true"
            android:label="一句话识别(http版)"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".asr.SasrWsActivity"
            android:exported="true"
            android:label="一句话识别(WebScoket版)"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
